@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('./PretendardR.otf') format('otf'),
  url('./PretendardR.woff2') format('woff2'),
  url('./PretendardR.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('./PretendardB.otf') format('otf'),
  url('./PretendardB.woff2') format('woff2'),
  url('./PretendardB.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url('./PretendardEB.otf') format('otf'),
  url('./PretendardEB.woff2') format('woff2'),
  url('./PretendardEB.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('./PretendardL.otf') format('otf'),
  url('./PretendardL.woff2') format('woff2'),
  url('./PretendardL.woff') format('woff');
}
